.darkMode{
  background-color:'#0E0F07' !important;
}
.lightMode{
  background-color:'#FFFFFF' !important;
}
.navbar{  
  height: 50px !important;
}
.nav-opt{
  text-decoration: none;
  padding: 0 20px;
  color: white;
}
.nav-opt:hover{
  color: #efff00;
}
.headers{
  font-size: 22px;
  font-weight: 600;
  margin: 19px 6px !important;
}